{% extends 'base.html.twig' %}

{% block title %}{{ 'about.title'|trans }}{% endblock %}

{% block body %}

    <section class="bg-dark text-white text-center p-5 page-wrap">

        <h1>{{ 'about.title'|trans }}</h1>

        <p class="lead">{{ 'about.subtitle'|trans }}</p>

    </section>


    <section class="container mt-5">

        <div class="row g-4">

            <div class="col-md-6">
                <div class="page-card h-100">

                <h2>{{ 'about.vision'|trans }}</h2>

                <p>{{ 'about.vision_text'|trans }}</p>
                </div>
            </div>


            <div class="col-md-6">
                <div class="page-card h-100">

                <h2>{{ 'about.message'|trans }}</h2>

                <p>{{ 'about.message_text'|trans }}</p>
                </div>
            </div>

        </div>

    </section>


    <section class="container mt-5">

        <h2 class="text-center mb-4">{{ 'about.goals'|trans }}</h2>

        <ul class="list-group page-card">

            <li class="list-group-item">
                {{ 'about.goal1'|trans }}
            </li>

            <li class="list-group-item">
                {{ 'about.goal2'|trans }}
            </li>

            <li class="list-group-item">
                {{ 'about.goal3'|trans }}
            </li>

            <li class="list-group-item">
                {{ 'about.goal4'|trans }}
            </li>

        </ul>

    </section>

{% endblock %}
