{% extends 'base.html.twig' %}

{% block title %}{{ 'auth.login_title'|trans }}{% endblock %}

{% block body %}
<div class="container page-wrap">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-5">
            <div class="page-card">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            {{ 'auth.logged_in_as'|trans({'%user%': app.user.userIdentifier}) }},
                            <a href="{{ logout_path() }}">{{ 'auth.logout'|trans }}</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3">{{ 'auth.login_h1'|trans }}</h1>
                    <label for="inputEmail">{{ 'auth.email_label'|trans }}</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
                    <label for="inputPassword">{{ 'auth.password_label'|trans }}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> {{ 'auth.remember_me'|trans }}
                        </label>
                    </div>

                    <button class="btn btn-lg btn-primary w-100" type="submit">{{ 'auth.sign_in_submit'|trans }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
