{% extends 'base.html.twig' %}

{% block title %}تسجيل حساب{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1 class="text-center mb-4">إنشاء حساب</h1>

        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

        <div class="mb-3">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.image) }}
            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button class="btn btn-primary w-100">تسجيل</button>

        {{ form_end(form) }}

    </div>

{% endblock %}
